<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Following are the events of the day</h2>
    <ul type="disc">
        <li>Solve slips of NodeJs</li>
        <li>Practice CET by taking mock tests</li>
        <li>Do workout for 1 hour</li>
        <li>Watch anime for relaxation</li>
        <li>Watch some Instagram reels and go to sleep</li>
    </ul>
</body>
</html>