<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is the structure of SY BBA(CA) course</h2>
    <ol type="i">
        <h3>Semester 3</h3>
        <li>Subject 1</li>
        <li>Subject 2</li>
        <li>Subject 3</li>
        <li>Subject 4</li>
        <li>Subject 5</li>
    </ol>
    <ol type="i">
        <h3>Semester 4</h3>
        <li>Subject 1</li>
        <li>Subject 2</li>
        <li>Subject 3</li>
        <li>Subject 4</li>
        <li>Subject 5</li>
    </ol>
</body>
</html>