<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student" method="POST" onsubmit="return validateForm()">
        <h2>Enter date of birth in words(date/month/year) <input type="text" name="dob" id="dob"></h2>
        <h2>Enter mobile number <input type="text" name="mobile" id="mobile"></h2>
        <h2>Enter email <input type="text" name="email" id="email"></h2>
        <input type="submit" value="Store">
    </form>
    <script>
        function validateForm(){
            var dob = document.getElementById('dob').value;
            var mobile = document.getElementById('mobile').value;
            var mobileLength = mobile.length;
            var email = document.getElementById('email').value;
            if(dob === ''){
                alert("Date of birth should not be empty");
                return false;
            }
            if(mobileLength>10){
                alert("Mobile number should be less than or equal to 10 digits");
                return false;
            }
            if(email.indexOf('@')===-1){
                alert("Email should contain a @ symbol");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>