<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul style="list-style: none;display: flex;">
            <a style="color: black; text-decoration: none;" href="/"><li style="margin: 10px;">Home </li></a>
            <a style="color: black; text-decoration: none;" href="/new.ejs"><li style="margin: 10px;">New </li></a>
            <a style="color: black; text-decoration: none;" href="/past.ejs"><li style="margin: 10px;">Past</li></a>
            <a style="color: black; text-decoration: none;" href="/comments.ejs"><li style="margin: 10px;">Comments</li></a>
        </ul>
    </nav>
</body>
</html>