<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <!-- enctype="multipart/form-data" this is used when uploading files through a form -->
        <label for="file">Choose a file</label>
        <input type="file" name="file" id="file" accept=".doc,.pdf,.docx,.jpg">
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>