<web-app>

<servlet>
<servlet-name>Slip2B</servlet-name>
<servlet-class>Slip2B</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Slip2B</servlet-name>
<url-pattern>/Slip2B</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Slip8B</servlet-name>
<servlet-class>Slip8B</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Slip8B</servlet-name>
<url-pattern>/Slip8B</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Slip11B</servlet-name>
<servlet-class>Slip11B</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Slip11B</servlet-name>
<url-pattern>/Slip11B</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Slip15B</servlet-name>
<servlet-class>Slip15B</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Slip15B</servlet-name>
<url-pattern>/Slip15B</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Slip18B</servlet-name>
<servlet-class>Slip18B</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Slip18B</servlet-name>
<url-pattern>/client</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Slip21B</servlet-name>
<servlet-class>Slip21B</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Slip21B</servlet-name>
<url-pattern>/Slip21B</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Slip30B</servlet-name>
<servlet-class>Slip30B</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Slip30B</servlet-name>
<url-pattern>/table</url-pattern>
</servlet-mapping>

</web-app>