<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul style="list-style-type: none;display: flex;" >
            <li><a href="/" style="text-decoration: none;font-size: 20px;color: black;margin-left:520px;">Home</a></li>
            <li><a href="/about" style="text-decoration: none;margin-left: 40px;font-size: 20px;color: black;">About</a></li>
            <li><a href="/hist" style="text-decoration: none;margin-left: 40px;font-size: 20px;color: black;">History</a></li>
            <li><a href="/feed" style="text-decoration: none;margin-left: 40px;font-size: 20px;color: black;">Feedback</a></li>
        </ul>
    </nav>
</body>
</html>